doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset='UTF-8')
    meta(name='theme-color', content='#ff0000')
    title React Webpack ES2015
  body
    #root
